{% extends 'registration/base.html' %}{% block title %}
<title>Petalk</title>
{% endblock title %}{% block body %}
<h1 class="logo">Petalk</h1>
<img src="{{ url_for('static',filename='img/Paws.png') }}" alt="" />

<main>
  <form class="registration-form" method="post">
    <div>
      <label for="email-input">Email</label>
      <input
        type="email"
        placeholder="メールアドレス"
        name="email"
        id="email-input"
      /><br />
    </div>
    <div>
      <label for="password-input">Password</label>
      <input
        type="password"
        placeholder="パスワード"
        name="password"
        id="password-input"
      /><br />
    </div>

    {% with messages = get_flashed_messages() %} {% if messages %}
    <ul class="flashes">
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %} {% endwith %}
    <p><a href="{{ url_for('reset') }}">※パスワードをお忘れの方はこちら</a></p>
    <button class="button-submit">ログイン</button><br />
    <p><a href="{{ url_for('signup') }}">ご登録はこちらから</a></p>
  </form>
</main>

<img src="{{ url_for('static',filename='img/Paws.png') }}" alt="" />
{% endblock body %}
