<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Princess+Sofia&display=swap"
      rel="stylesheet"
    />
    <title>雑談部屋</title>
    <link rel="stylesheet" href="../static/css/detail.css" />
  </head>

  <body>
    <div class="detail">
      <p class="div">{{ channel.name }}</p>
      <p>{{uid}}</p>

      {% if messages|length > 0 %} {% for message in messages %}
      <p>{{message.uid}}</p>
      {% if message.uid == uid %}

      <div class="my-messages">
        <form action="/delete_message" method="POST">
          <input type="hidden" value="{{ channel.id }}" name="cid" />
          <button
            class="delete-message-button"
            name="message_id"
            value="{{ message.id }}"
          >
            <img
              src="../static/img/icon_trash.svg"
              alt="ゴミ箱"
              class="trash-icon"
            />
          </button>
        </form>
        <p class="user-name">{{ message.user_name }}</p>
        <p class="my-message">{{ message.message }}</p>
        <span class="my-message-timestamp"
          >{{ message.timestamp.strftime('%H:%M') }}</span
        >
        {% else %}
        <div class="friend-name">{{ message.user_name }}</div>
        <div class="friend-message">{{ message.message }}</div>
        <div class="friend-image">
          <img src="../static/img/chatphoto.png" />
        </div>
        <div class="time">何時何分</div>
      </div>
      {% endif %} {% endfor %} {% else %}
      <div id="no-message"><p>まだメッセージがありません</p></div>
      {% endif %}
    </div>

    <div class="typing-box-wrapper">
      <form
        class="typing-box"
        action="/message"
        method="POST"
        name="newMessageForm"
      >
        <input type="hidden" name="cid" value="{{channel.id}}" />
        <button type="add-photo" id="add-photo-button">画像追加</button>
        <textarea name="message" id="message" autofocus></textarea>
        <button type="submit" id="add-message-button">
          <img src="../static/img/icon_send.svg" alt="送信" class="send-icon" />
        </button>
      </form>
    </div>

    <script>
      "use strict";
    </script>
  </body>
</html>
