<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>雑談部屋</title>
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
</head>
<body>
    <header>
        <img src="../static/img/Petalk.png" alt="Logo" class="logo">
        <h1 class="title">雑談部屋</h1>
        <button class="loguot">
            <a href="{{ url_for('login') }}">サインアウト</a>
        </button>
    </header>

    <div class="input-group">
        <form id="channel-form" method="POST" action="/">
            <label for="channelName" class="form-label">チャンネル名</label>
            <input type="text" name="channelTitle" id="channelName" placeholder="チャンネル名を入力">
            <input type="text" name="channelDescription" id="channelDescription" placeholder="チャンネルの説明を入力">
            <button type="submit">新規作成</button>
        </form>
    </div>


    <main id="channelList">
        <!-- チャンネル項目がここに動的に挿入されます -->
        {% for channel in channels %}
        <a href="/detail/{{ channel.id }}">{{ channel.name }}</a>
        {% endfor %}
        </div>

    </main>

</body>
