<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>雑談部屋</title>
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
</head>
<body>
    <header>
        <img src="../static/img/Petalk.png" alt="Logo" class="logo">
        <h1 class="title">雑談部屋</h1>
    </header>

    <div class="input-group">
        <form id="channel-form" method="POST" action="/">
            <label for="channelName" class="form-label">チャンネル名</label>
            <input type="text" id="channelName" placeholder="チャンネル名を入力" name="channelTitle">
            <button type="submit">新規作成</button>
        </form>
    </div>


    <main id="channelList">
        <!-- チャンネル項目がここに動的に挿入されます -->
        <!-- <h1 class="title">{{ channel_title }}</h1> -->
        </div>

    </main>


    <script src="../static/js/addchannel2.js"></script>



</body>
