/* styles.css */
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  text-align: center; /* 中央揃え */
  background-color: #eac7cc;
  color: var(--gray);
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: #cbc0d3;
}

.logo {
  position: absolute;
  left: 10px;
  top: 10px;
  height: 80px;
}

.title {
  margin: 0;
}

#channelList {
  margin-top: 20px; /* ヘッダーの下にスペースを作る */
  list-style-type: none;
  color: var(--gray);
}

button {
  margin-top: 20px;
}

/* ... その他のスタイル ... */

.input-group {
  margin-top: 20px;
}

.input-group input {
  margin-right: 10px;
}

/* 新しいチャンネル項目のスタイル */
.channel-item {
  display: flex;
  align-items: center;
  padding: 5px;
}

.channel-icon {
  margin-right: 10px;
  /* 他に必要なスタイルがあればここに追加 */
}

/* 削除ボタンのスタイル */
.delete-btn {
  margin-left: auto; /* ボタンを右端に配置 */
}
