<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width" , initial-scale="1.0" />
    <link rel="stylesheet" href="../../static/css/color.css" />
    <title>500 Internal Server Error</title>
    <!-- 必要に応じてスタイルシートやスクリプトをここに記入-->
    <style>
      body {
        background-color: var(--pale);
        font-family: meiryo;
        color: var(--gray);
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>500 Internal Server Error</h1>
      <p>サーバーに内部エラーが発生しました。</p>
      <!-- ユーザーがホームページに戻るためのリンクを記述 -->
      <a href="../index.html">ホームページへ</a>
    </div>
  </body>
</html>
